<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Re-Search: BulSU Sarmiento Campus Research Management System</title>
    <link rel="stylesheet" href="/css/dashboard.css">
    <link rel="stylesheet" href="/css/dashResponsive.css">
</head>

<body>
    <header>
        <div class="logosec">
            <div class="logo-container">
                <img src="/images/Sarmiento.png" alt="Bulacan State University Sarmiento Logo" class="school-logo">
                <div class="school-info">
                    <h1 class="university-name">Bulacan State University</h1>
                    <h2 class="campus-name">Sarmiento Campus</h2>
                </div>
            </div>
            <div class="three-lines" id="menu" onclick="myFunction(this)">
                <div class="bar1"></div>
                <div class="bar2"></div>
                <div class="bar3"></div>
            </div>
        </div>
        <div class="dp">
            <img class="dpicn" alt="dp">
        </div>
    </header>
    <div class="main-container">
        <aside class="navcontainer">
            <nav class="nav">
                <div class="nav-upper-options">
                    <div class="nav-option optionActive">
                        <img src="/images/dashboard.png" class="nav-img" alt="Dashboard Icon">
                        <h3>Dashboard</h3>
                    </div>

                    <div class="nav-option optionAccount">
                        <img src="/images/user.png" class="nav-img" alt="Users Icon">
                        <h3>Accounts</h3>
                        <div class="dropdown-container">
                            <a href="adminAccounts.html">Students</a>
                            <a href="adminAccountsAdviser.html">Research Teachers</a>
                        </div>
                    </div>

                    <div class="nav-option optionCapstone">
                        <img src="/images/capstone.png" class="nav-img" alt="Capstone Icon">
                        <h3>Research<br>Titles</h3>
                    </div>

                    <div class="nav-option optionCategory">
                        <img src="/images/categories.png" class="nav-img" alt="Category Icon">
                        <h3>Categories</h3>
                    </div>

                    <div class="nav-option optionStat">
                        <img src="/images/statistics.png" class="nav-img" alt="Statistics Icon">
                        <h3>Reports</h3>
                        <div class="dropdown-container">
                            <a href="adminListofStudents.html">List of Students</a>
                            <a href="adminListofCapstones.html">List of Research<br>Titles</a>
                        </div>
                    </div>

                    <div class="nav-option optionRequest">
                        <img src="/images/request.png" class="nav-img" alt="Requests Icon">
                        <h3>Requests<br>Monitoring</h3>
                    </div>
                </div>
            </nav>
        </aside>

        <section class="main">
            <div class="box-container">
                <div class="box box1" onclick="location.href='adminCapstones.html'">
                    <img src="/images/capstone_paper.png" alt="Capstone Projects Listed">
                    <div class="text">
                        <h2 class="topic-heading" id="totalCapstones"></h2>
                        <h2 class="topic">Research<br>Projects Listed</h2>
                    </div>
                </div>

                <div class="box box2" onclick="location.href='coorCategories.html'">
                    <img src="/images/category.png" alt="Listed Categories">
                    <div class="text">
                        <h2 class="topic-heading" id="totalCategories"></h2>
                        <h2 class="topic">Listed<br>Categories</h2>
                    </div>
                </div>

                <div class="box box3" onclick="location.href='adminAccounts.html'">
                    <img src="/images/students.png" alt="Students">
                    <div class="text">
                        <h2 class="topic-heading" id="totalAccounts"></h2>
                        <h2 class="topic">No. of<br>Students</h2>
                    </div>
                </div>

                <div class="box box4" onclick="location.href='adminListofRequests.html'">
                    <img src="/images/published.png" alt="Uploading Request">
                    <div class="text">
                        <h2 class="topic-heading" id="totalRequests"></h2>
                        <h2 class="topic">Pending<br>Request</h2>
                    </div>
                </div>

                <div class="box box5" onclick="location.href='adminListofCapstones.html'">
                    <img src="/images/download.png" alt="Downloaded Capstone Projects">
                    <div class="text">
                        <h2 class="topic-heading" id="totalDownloads"></h2>
                        <h2 class="topic">Total<br>Downloads</h2>
                    </div>
                </div>

                <div class="box box6" onclick="location.href='adminListofCapstones.html'">
                    <img src="/images/views.png" alt="Viewed Capstone Projects">
                    <div class="text">
                        <h2 class="topic-heading" id="totalViews"></h2>
                        <h2 class="topic">Total<br>Views</h2>
                    </div>
                </div>
            </div>

            <div class="report-container">
                <div class="recent-activities-section">
                    <h2 class="recent-activities-header">Recent Activities</h2>
                    <div class="activities-and-status">
                        <div class="top-capstone-viewed" onclick="location.href='adminListofCapstones.html'">
                            <h3>Top Research Views</h3>
                            <table>
                                <thead>
                                    <tr>
                                        <th>Title</th>
                                        <th>Course</th>
                                        <th>Date</th>
                                        <th>Views</th>
                                    </tr>
                                </thead>
                                <tbody id="top-capstone-body">
                                </tbody>
                            </table>
                        </div>

                        <div class="uploading-status" onclick="location.href='adminListofRequests.html'">
                            <h3>Uploading Research Status</h3>
                            <table class="capstone-table">
                                <thead>
                                    <tr>
                                        <th>Teacher</th>
                                        <th>Title</th>
                                        <th>Date</th>
                                        <th>Status</th>
                                    </tr>
                                </thead>
                                <tbody id="capstoneStatusTable">
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </div>
    <div id="logoutModal" class="logout-modal">
        <div class="modal-cont">
            <h2>Logout Confirmation</h2>
            <p>Are you sure you want to logout?</p>
            <div class="button-group">
                <button type="button" class="btn-logout" id="signoutButton">Logout</button>
                <button type="button" class="btn-cancel">Cancel</button>
            </div>
        </div>
    </div>
    <div id="profileMenu" class="profile-menu">
        <div class="profile-header">
            <img class="profile-pic" alt="Admin Profile Picture">
            <h3 id="profileName"></h3>
            <p id="profileEmail"></p>
        </div>
        <div class="profile-actions">
            <button class="view-profile-button" onclick="location.href='admiViewProfile.html'">My Profile</button>
            <button id="showLogoutModal">Logout</button>
        </div>
    </div>
    <script type="module" rel="javascript" src="/js/adminProfile.js"></script>
    <script type="module" rel="javascript" src="/js/adminLogout.js"></script>
    <script src="/js/adminDashboard.js"></script>
    <script type="module">
        import { initializeApp } from "https://www.gstatic.com/firebasejs/10.12.3/firebase-app.js";
        import { getDatabase, ref, child, onValue, } from "https://www.gstatic.com/firebasejs/10.12.3/firebase-database.js";
        import { getStorage, ref as storageRef, uploadBytes, getDownloadURL } from "https://www.gstatic.com/firebasejs/10.12.3/firebase-storage.js";

        const firebaseConfig = {
            apiKey: "AIzaSyDHnoQ42UH9XorjdBsN4do1pKlWSRZVrCw",
            authDomain: "re-search-9c52f.firebaseapp.com",
            databaseURL: "https://re-search-9c52f-default-rtdb.firebaseio.com",
            projectId: "re-search-9c52f",
            storageBucket: "re-search-9c52f.appspot.com",
            messagingSenderId: "915263512573",
            appId: "1:915263512573:web:fc6961e880ce8fb1010394",
            measurementId: "G-R0Y7ZMM3XV"
        };

        const app = initializeApp(firebaseConfig);
        const db = getDatabase();
        const storage = getStorage();

        function updateTotalAccounts(total) {
            document.getElementById('totalAccounts').textContent = total;
        }

        const dbStud = ref(db, 'accounts/');

        onValue(dbStud, (snapshot) => {
            let totalStudents = 0;
            snapshot.forEach(() => {
                totalStudents++;
            });

            updateTotalAccounts(totalStudents);
        });

        function updateTotalCategories(total) {
            document.getElementById('totalCategories').textContent = total;
        }

        const dbCat = ref(db, 'Categories/');

        onValue(dbCat, (snapshot) => {
            let totalCategories = 0;
            snapshot.forEach(() => {
                totalCategories++;
            });

            updateTotalCategories(totalCategories);
        });

        function updateTotalCapstones(total) {
            document.getElementById('totalCapstones').textContent = total;
        }

        function updateTotalRequests(total) {
            document.getElementById('totalRequests').textContent = total;
        }

        function updateTotalViews(total) {
            document.getElementById('totalViews').textContent = total;
        }

        function updateTotalDownloads(total) {
            document.getElementById('totalDownloads').textContent = total;
        }

        const dbBooks = ref(db, 'Books/');

        onValue(dbBooks, (snapshot) => {
            let totalCapstones = 0;
            let totalRequests = 0;
            let totalViews = 0;
            let totalDownloads = 0;

            snapshot.forEach((childSnapshot) => {
                const capstone = childSnapshot.val();
                if (capstone.state === 'Approved') {
                    totalCapstones++;
                }
                if (capstone.state === 'Pending') {
                    totalRequests++;
                }
                totalViews += childSnapshot.val().viewCount;
                totalDownloads += childSnapshot.val().downloadCount;
            });

            updateTotalCapstones(totalCapstones);
            updateTotalRequests(totalRequests);
            updateTotalViews(totalViews);
            updateTotalDownloads(totalDownloads);
        });

        function fetchTopCapstoneViewed() {
            const booksRef = ref(db, 'Books');
            onValue(booksRef, (snapshot) => {
                let topBooks = [];

                snapshot.forEach((childSnapshot) => {
                    const book = childSnapshot.val();
                    if (book.state === 'Approved') {
                        topBooks.push(book);
                    }
                });

                topBooks.sort((a, b) => b.viewCount - a.viewCount);
                topBooks = topBooks.slice(0, 5); // Limit to top 5

                const tableBody = document.getElementById('top-capstone-body');
                tableBody.innerHTML = '';

                topBooks.forEach((book) => {
                    let title = book.title || 'No Title';
                    const course = book.courseAcronym || 'Unknown Course';
                    const year = book.year || 'Unknown Year';
                    const viewCount = book.viewCount || 0;

                    if (title.length > 30) {
                        title = title.substring(0, 30) + '...';
                    }

                    const row = `
                <tr>
                    <td>${title}</td>
                    <td>${course}</td>
                    <td>${year}</td>
                    <td>${viewCount}</td>
                </tr>
            `;
                    tableBody.innerHTML += row;
                });
            });
        }

        fetchTopCapstoneViewed();

        function loadCapstoneStatus() {
            const tableBody = document.getElementById('capstoneStatusTable');
            tableBody.innerHTML = '';

            const capstoneRef = ref(db, 'Books');
            const loggedInUID = sessionStorage.getItem('userUID'); // Get the logged-in user's UID

            onValue(capstoneRef, (snapshot) => {
                let capstones = [];

                snapshot.forEach((childSnapshot) => {
                    const capstone = childSnapshot.val();

                    // Skip books uploaded by the logged-in user
                    if (capstone.uid === loggedInUID) return;

                    capstones.push(capstone);
                });

                capstones = capstones.slice(0, 5); // Limit to 5 entries

                capstones.forEach((capstone) => {
                    let title = capstone.title || 'No Title';
                    if (title.length > 30) {
                        title = title.substring(0, 30) + '...'; // Limit title length to 30 characters
                    }

                    let statusText = capstone.state;
                    let statusColor;
                    if (statusText === 'Pending') {
                        statusColor = 'orange';
                    } else if (statusText === 'Approved') {
                        statusColor = 'green';
                    } else if (statusText === 'Returned') {
                        statusColor = 'red';
                    }

                    const row = `
                <tr>
                    <td>${capstone.researchTeacher}</td>
                    <td>${title}</td>
                    <td>${capstone.year}</td>
                    <td style="color: ${statusColor}; font-weight: bold;">${statusText}</td>
                </tr>
            `;
                    tableBody.innerHTML += row;
                });
            });
        }

        document.addEventListener('DOMContentLoaded', loadCapstoneStatus);
    </script>
</body>

</html>